<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change CovidState</title>
</head>
<body>
<div>
    Current State: <span th:text="${personState.getCovidState().stateLabel}"></span>
</div>
<div>
    <form id="register_form">
        <p>Please select your new state :</p>
        <div th:if="${personState.getCovidState().stateId}==0 or ${personState.getCovidState().stateId}==2">
            <input type="radio" id="covidStateChoice2" name="stateId" value="1">
            <label for="covidStateChoice2">Positive</label>
        </div>
        <div th:if="${personState.getCovidState().stateId}==0 or ${personState.getCovidState().stateId}==1">
            <input type="radio" id="covidStateChoice1" name="stateId" value="2">
            <label for="covidStateChoice1">Negative</label>
        </div>
        <div>
            <button type="submit">Update my state</button>
        </div>
    </form>
</div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" th:inline="javascript">

    var personId =/*[[${personId}]]*/ null;

    const serialize_form = form => JSON.stringify(
        Array.from(new FormData(form).entries())
            .reduce((m, [ key, value ]) => Object.assign(m, { [key]: value }), {})
    );

    $('#register_form').on('submit', function(event) {
        event.preventDefault();
        const json = serialize_form(this);
        $.ajax({
            type: 'POST',
            url: '/personState/update/'+personId,
            dataType: 'json',
            data: json,
            contentType: 'application/json',
            success: function(data) {
                console.log(data)
            }
        });
    });

</script>

</html>